baseURL : "https://cnawel.github.io/caranchonest/"
title: "Carancho Nest"
paginate: 5
theme: PaperMod

enableInlineShortcodes: true
enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
enableEmoji: true
pygmentsUseClasses: true

googleAnalytics: G-KMQDQV3MYZ

minify:
    disableXML: true
    # minifyOutput: true

languages:
    en:
        languageName: "English"
        weight: 1
        taxonomies:
        tag: tags
        
        title: "Welcome to **Carancho Nest**"
        content: "> Where the realms of Cybersecurity and Natural Sciences intertwine \n\n
        Embark on a journey through the depths of this nest, where we delve into the captivating worlds of Cybersecurity, Neuroscience, and Nature Science.\n\n\n      
        Whether you're a technology enthusiast, a nature lover, or simply curious about the intricate tapestry that links these domains, **Nido Carancho** is your gateway to unlocking the secrets that lie at the intersection of cutting-edge innovation and the wonders of the natural world
        "
        menu:
            main:
              - name: C0NT3NT
                url: tags/
                weight: 10

    es:
      weight: 2
      languageName: "Espa帽ol"
    
      title: "Bienvenidxs a **Carancho Nest**"
      content: "> D贸nde la Ciberseguridad y las Ciencias Naturales se encuentran \n\n
      Embarcate en un viaje a trav茅s de las profundidades de este Nicho, en d贸nde ahondaremos en los captivos mundos de la Ciberseguridad, la Neurociencia, y las Ciencias Naturales.\n\n\n
      Ya seas un en entusiasta de la tecnolog铆a, un amante de la naturaleza, o por simple curiosidad acerca del intrincado tapiz que une estos dominios, 
      **Carancho Nest** es tu puerta para descubrir los secretos que hay en la intersecci贸n de la innovaci贸n de vanguardia y las maravillas del mundo natural
      "
      menu:
        main:
          - identifier: tags
            name: C0NT3N1D0
            url: ""
            weight: 10

outputs:
    home:
        - HTML
        - RSS
        - JSON # is necessary

params:
      env: production # to enable google analytics, opengraph, twitter-cards and schema.
      author: c4r4nch0
      
      ShowReadingTime: true
      ShowShareButtons: true
      ShowPostNavLinks: true

      defaultTheme: auto
      # disableThemeToggle: true
      ShowShareButtons: true
      ShowReadingTime: true
      # disableSpecial1stPost: true
      displayFullLangName: true
      ShowPostNavLinks: true
      ShowBreadCrumbs: true
      ShowCodeCopyButtons: true
      ShowRssButtonInSectionTermList: true
      ShowToc: true
      # comments: false
      images: ["papermod-cover.png"]

      cover:
            responsiveImages: false
            linkFullImages: false

      homeInfoParams:
        Title: "Carancho Nest"
        Content: >
            Welcome to Carancho Nest

            - **Carancho Nest** is where Nature Sciences and Cybersecurity intertwin.

            - Do give a  on Github !

            - Contact me if you have any proyects in your mind.

        socialIcons:
            - name: github
              url: "https://github.com/Cnawel"
            - name: "My web"
              url: "https://cnawel.github.io/caranchonest/"
            - name: Rss
              url: "index.xml"

      

markup:
    goldmark:
        renderer:
            unsafe: true
    highlight:
        noClasses: false
        # anchorLineNos: true
        # codeFences: true
        # guessSyntax: true
        # lineNos: true
        # style: monokai

privacy:
    vimeo:
        disabled: false
        simple: true

    twitter:
        disabled: false
        enableDNT: true
        simple: true

    instagram:
        disabled: false
        simple: true

    youtube:
        disabled: false
        privacyEnhanced: true

services:
    instagram:
        disableInlineCSS: true
    twitter:
        disableInlineCSS: true