baseURL : "https://cnawel.github.io/caranchonest/"
title : "Carancho Nest"
paginate: 5
theme : PaperMod

enableInlineShortcodes: true
enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
enableEmoji: true
pygmentsUseClasses: true
# googleAnalytics: UA-123-45

minify:
    disableXML: true
    # minifyOutput: true

languages:
    en:
        languageName: "English"
        weight: 1
        taxonomies:
          tag: tags
        menu:
          main:
              # - name: Archive
              #   url: archives
              #   weight: 5
              - name: C0NT3NT
                url: tags
                weight: 5
              - name: 
                url: search/
                weight: 10       

        homeInfoParams:
          Title: "Welcome to **Carancho Nest**"
          Content: "> Where the realms of Cybersecurity and Natural Sciences intertwine \n\n
          Embark on a journey through the depths of this nest, where we delve into the captivating worlds of Cybersecurity, Neuroscience, and Nature Science.\n\n\n      
          Whether you're a technology enthusiast, a nature lover, or simply curious about the intricate tapestry that links these domains, **Nido Carancho** is your gateway to unlocking the secrets that lie at the intersection of cutting-edge innovation and the wonders of the natural world
          "

    es:
        languageName: "Espa帽ol"
        weight: 5

        disabled: false
        # languageDirection: ltr
        taxonomies:
          tag: EStags

        menu:
            main:
                - identifier: estags
                  name: C0NT3N1D0
                  url: estags
                  weight: 5
                - name: 
                  url: search/
                  weight: 10
            
        homeInfoParams:
          title: "Bienvenidxs a **Carancho Nest**"
          content: "> D贸nde la Ciberseguridad y las Ciencias Naturales se encuentran \n\n
          Embarcate en un viaje a trav茅s de las profundidades de este Nicho, en d贸nde ahondaremos en los captivos mundos de la Ciberseguridad, la Neurociencia, y las Ciencias Naturales.\n\n\n
          Ya seas un en entusiasta de la tecnolog铆a, un amante de la naturaleza, o por simple curiosidad acerca del intrincado tapiz que une estos dominios, 
          **Carancho Nest** es tu puerta para descubrir los secretos que hay en la intersecci贸n de la innovaci贸n de vanguardia y las maravillas del mundo natural
          "

outputs:
    home:
        - HTML
        - RSS
        - JSON # is necessary

enableEmoji: true

params:
      defaultTheme: auto
      author: c4r4nch0
      env: production # to enable google analytics, opengraph, twitter-cards and schema.

      cover:
            responsiveImages: true
            linkFullImages: false

      socialIcons:
        - name: Github Cnawel/c4r4nch0
          url: "https://github.com/cnawel"
        #- name: Youtube
        - name: Rss
          url: "index.xml"

      ShowReadingTime: true
      ShowShareButtons: true
      ShowPostNavLinks: true
      images: ["post-bg-unix-linux.jpg"]

    # label:
    #     text: "Home"
    #     icon: icon.png
    #     iconHeight: 35

    # analytics:
    #     google:
    #         SiteVerificationTag: "XYZabc"

    assets:
        disableHLJS: true
    #     favicon: "<link / abs url>"
    #     favicon16x16: "<link / abs url>"
    #     favicon32x32: "<link / abs url>"
    #     apple_touch_icon: "<link / abs url>"
    #     safari_pinned_tab: "<link / abs url>"

    # cover:
    #     hidden: true # hide everywhere but not in structured data
    #     hiddenInList: true # hide on list pages and home
    #     hiddenInSingle: true # hide on single page

    # fuseOpts:
    #     isCaseSensitive: false
    #     shouldSort: true
    #     location: 0
    #     distance: 1000
    #     threshold: 0.4
    #     minMatchCharLength: 0
    #     limit: 10 # refer: https://www.fusejs.io/api/methods.html#search
    #     keys: ["title", "permalink", "summary", "content"]

markup:
    goldmark:
        renderer:
            unsafe: true
    highlight:
        noClasses: false
        # anchorLineNos: true
        # codeFences: true
        # guessSyntax: true
        # lineNos: true
        # style: monokai

privacy:
    vimeo:
        disabled: false
        simple: true

    twitter:
        disabled: false
        enableDNT: true
        simple: true

    instagram:
        disabled: false
        simple: true

    youtube:
        disabled: false
        privacyEnhanced: true

services:
    instagram:
        disableInlineCSS: true
    twitter:
        disableInlineCSS: true
