@keyframes colorchange {
    from {color: blueviolet;}
    to {color: lightskyblue;}
  }
  
  #menu a {
    font-size: 25px;
    color: blueviolet;
}

#menu a:hover {
    font-size: 25px;
    color: lightskyblue;
}

#main a {
    font-size: 25px;
    color: blueviolet;
    animation-name: colorchange;
    animation-duration: 10s;
}

#main a:hover {
    font-size: 25px;
    color: lightskyblue;
}
