@keyframes color-change {
    0% { color: blueviolet; }
    50% { color: violet; }
    100% { color: lightskyblue; }
  }
  
#menu a {
    font-size: 25px;
    color: blueviolet;
}

#menu a:hover {
    font-size: 25px;
    color: lightskyblue;
}

#main a {
    font-size: 25px;
    color: blueviolet;
}

#main a:hover {
    font-size: 25px;
    color: lightskyblue;
}
