#menu a {
    font-size: 25px;
    color: blueviolet;
}

#menu a:hover {
    font-size: 25px;
    color: lightskyblue;
}

#main a {
    font-size: 25px;
    color: blueviolet;
}

#menu .lang-switch a { color: lightskyblue;
    font-size: 20px
}

#main .lang-switch a { color: lightskyblue;
    font-size: 20px
}